[package]
name = "rusty_palette"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
regex = "1.11.1"
rayon = "1.11.0"
rand = "0.9.2"

[profile.release]
lto = true
codegen-units = 1
opt-level = 3